<div class="div1">〖顶级域名管理〗</div>
<div class="div1"><a class="link1" href="{:U('Admin/Domain/adddomain')}">添加域名</a>|<a class="link1" href="{:U('Admin/Domain/entry')}">域名操作</a></div>
<div class="div1">〖二级域名管理〗</div>
<div class="div1"><a class="link1" href="{:U('Admin/Record/importantsub')}">禁止前缀</a>|<a class="link1" href="{:U('Admin/Record/entry')}">记录管理</a></div>
<div class="div1">〖用户管理〗</div>
<div class="div1"><a class="link1" href="{:U('Admin/User/entry')}">用户列表</a>|<a class="link1" href="{:U('Admin/User/resetlock')}">重置次数</a></div>
<div class="div1">〖后台管理〗</div>
<div class="div1"><a class="link1" href="{:U('Admin/Admin/changepwd')}" >修改密码</a>|<a class="link1" href="{:U('Admin/Admin/email')}" >邮箱配置</a><br />
<a class="link1" href="{:U('Admin/Admin/website')}" >本站网址</a>
</div>