<br />
<div class="am-g am-text-lg">
<div class="am-u-sm-2">用户名：</div>
<div class="am-u-sm-10"><input type="text" id="admin-input-user" class="am-form-field am-radius" value="" /></div>
</div>
<div class="am-g am-text-lg">
<div class="am-u-sm-2">密码：</div>
<div class="am-u-sm-10"><input type="password" id="admin-input-password" class="am-form-field am-radius" value="" /></div>
</div>
<hr />
<div class="am-g">
<div class="am-u-sm-2 am-u-sm-centered">
<button class="am-btn am-btn-primary am-radius" id="changepassword-button" type="button">提交</button>
</div>
<br />
</div>
<script>
$(function(){
	$("#changepassword-button").click(function(){
		$("#admin-input-user").addClass("am-disabled");
		$("#admin-input-password").addClass("am-disabled");
		$("#changepassword-button").addClass("am-disabled");
		var user = $("#admin-input-user").val();
		var password = $("#admin-input-password").val();
		if(user && password){
			$.post("{:U('Admin/ajax_changepassword')}","user="+user+"&password="+password,function(result){
				if(result == "1"){
					alert("修改成功");
					$("#admin-input-user").removeClass("am-disabled");
					$("#admin-input-password").removeClass("am-disabled");
					$("#changepassword-button").removeClass("am-disabled");
				}else{
					alert(result);
					$("#admin-input-user").removeClass("am-disabled");
					$("#admin-input-password").removeClass("am-disabled");
					$("#changepassword-button").removeClass("am-disabled");
				}
			});
		}else{
			alert("请填写完整信息");
			$("#admin-input-user").removeClass("am-disabled");
			$("#admin-input-password").removeClass("am-disabled");
			$("#changepassword-button").removeClass("am-disabled");
		}
	});
});
</script>