<!DOCTYPE html>
<head lang="en">
  <meta charset="UTF-8">
  <title>二级域名分发</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="./Public/image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="./Public/css/amazeui.min.css" />
  <script src="./Public/js/jquery.min.js"></script>
	<script src="./Public/js/amazeui.min.js"></script>
	<script src="./Public/js/main.js"></script>
   <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
	.my-right{
		text-align: right;
	}
	.my-left{
		text-align: left;
	}
  </style>
  </head>
<body>
<div class="am-g am-g-fixed"><img src="./Public/img/logo.bmp" class="am-img-respondsive" alt="logo" /></div>
<br />
