{$result}<br />
<form action="{: U('Admin/Domain/adddomain')}" method="post">
<input type="text" name="frist_domain" value="{$frist_domain2}" class="login-input" placeholder="域名" />
<input type="text" name="domain_id" value="{$frist_domain['domain_id']}" class="login-input" placeholder="域名ID" />
<input type="text" name="token_id" value="{$frist_domain['token_id']}" class="login-input" placeholder="Token的id" />
<input type="text" name="token" value="{$frist_domain['token']}" class="login-input" placeholder="Token" />
<input type="submit" name="submit" value="提交" class="login-submit" /></form>