<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>二级域名分发</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="./Public/image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="./Public/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
	.my-right{
		text-align: right;
	}
	.my-left{
		text-align: left;
	}
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>二级域名分发</h1>
    <p>by:myzly</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>重置密码</h3>
    <hr>
    <form method="post" class="am-form">
      <label for="name">用户名:</label>
      <input type="text" name="name" id="name" class="am-form-field am-radius" value="" />
      <br>
      <label for="email">email:</label>
      <input class="am-form-field am-radius" type="text" name="email" id="email" value="" />
      <br>
      <div class="am-cf">
        <button type="button" class="am-btn am-btn-primary am-radius am-btn-block am-fl" onclick="resetpassword()" id="button">提交</button></button>
      </div>
	  <div class="am-cf"><div class="am-u-sm-6 my-left"><a href="{:U('Login/index')}">用户登入</a></div><div class="am-u-sm-6 my-right"><a href="{:U('Reg/index')}">注册账号</a></div></div>
    </form>
    <hr>
    <p>Based on ThinkPHP and Amaze UI</p>
  </div>
</div>
</body>
<script>
function resetpassword()
{
document.getElementById("button").innerHTML = "提交中。。。";
document.getElementById("button").disabled = "disabled";
var xmlhttp;
var name;
var email;
var result;
name = document.getElementById("name").value;
email = document.getElementById("email").value;
if (window.XMLHttpRequest)
  { 
  xmlhttp=new XMLHttpRequest();
  }
else
  { 
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  { 
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    { 
    result=xmlhttp.responseText;
	if(result=="1"){
		alert("重置邮件已发送，请注意查收");
		document.getElementById("button").innerHTML="提交完成";
	}else{
		alert(result);
		document.getElementById("button").disabled=0;
		document.getElementById("button").innerHTML="提交";
	}
    }
  }
xmlhttp.open("POST","{:U('User/resetpasswording')}",true);
xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
xmlhttp.send("name="+name+"&email="+email);
}
</script>
</html>