<html><head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<tittle>安装二级域名分发</tittle>
</head>
<body>
<h1>请按照提示安装</h1>
<hr size=2/>
<form action="{:U('Install/Index/install')}" method="post">
<h2>管理员账号</h2>
账号：<input type="text" name="admin_name" value="admin"/><br />
密码：<input type="text" name="admin_password" />
<hr />
<h2>邮箱相关</h2>
email账号：<input type="text" name="email_account"/><br />
email密码：<input type="text" name="email_password"/><br />
发件人：<input type="text" name="email_user" value="管理员" /><br />
smtp地址：<input type="text" name="email_address"/><br />
端口：<input type="text" name="email_port" value="25" /><br />
<hr />
<h2>用户相关</h2>
每日重置密码上限：<input type="text" name="userlock" value="5" /><br />
<hr />
<h2>网站相关</h2>
系统所在网址：<input type="text" name="website"/><br />
<hr size=2/>
<input type="submit" value="提交" name="submit" />
</form>
</body>
</html>