{$result}<br />
<form action="{: U('Admin/email')}" method="post">
<input type="text" name="mail" class="login-input" placeholder="邮箱" />
<input type="text" name="password" class="login-input" placeholder="密码" /><br />
<input type="text" name="address" class="login-input" placeholder="smtp服务器" /><br />
<input type="text" name="port" class="login-input" placeholder="端口" /><br />
<input type="text" name="user" class="login-input" placeholder="发件人" /><br />
<input type="submit" name="submit" value="提交" class="login-submit" /></form>